body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  background-color: #f5f7fa;
}

:root {
  --primary-color: #00a2ff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f7fa;
  width: 100%;
  box-sizing: border-box;
}
.left-nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding-left: 20px;
}
.array li:hover {
  color: #00a2ff;
  cursor: pointer;
}

.right-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-right: 20px;
}

.login {
  background: none;
  border: none;
  font-family: "rubik";
  font-weight: 700;
}
.login:hover {
  color: #00a2ff;
  cursor: pointer;
}
.demo {
  background-color: #f5f7fa;
  border-color: #fc5b1a;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  font-family: "rubik";
  font-weight: 900;
  color: #fc5b1a;
}
.demo:hover {
  background-color: #fc5b1a;
  color: #f5f7fa;
  cursor: pointer;
}

.sign-up {
  background-color: #00a2ff;
  border-color: #0391e4;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  font-weight: "rubik";
  font-weight: 900;
  color: #f5f7fa;
}

.sign-up:hover {
  color: #00a2ff;
  backdrop-filter: var(--primary-color);
  background-color: #f5f7fa;
  cursor: pointer;
}
.menu {font-size: 30px;
display: none;}

@media (max-width:600px) {
  .ul li {display: none;}
  .right-nav {display: none;}
  .menu {display: block;}
}