body {
  margin: 0;
  padding: 0;

  font-family: "Rubik";
  background-color: #f5f7fa;
}

:root {
  --primary-color: #00a2ff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f7fa;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.nav-spacer {
  height: 70px;
}
.left-nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding-left: 20px;
}
.array li:hover {
  color: #00a2ff;
  cursor: pointer;
}

.right-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-right: 20px;
}

.login {
  background: none;
  border: none;
  font-family: "rubik";
  font-weight: 700;
}
.login:hover {
  color: #00a2ff;
  cursor: pointer;
}
.demo {
  background-color: #f5f7fa;
  border-color: #fc5b1a;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;

  font-weight: 900;
  color: #fc5b1a;
}
.demo:hover {
  background-color: #fc5b1a;
  color: #f5f7fa;
  cursor: pointer;
}

.sign-up {
  background-color: #00a2ff;
  border-color: #0391e4;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;

  font-weight: 900;
  color: #f5f7fa;
}

.sign-up:hover {
  color: #00a2ff;
  backdrop-filter: var(--primary-color);
  background-color: #f5f7fa;
  cursor: pointer;
}
.first-div {
  display: flex;

  justify-content: center;
}

.limitless {
  width: 50%;
  padding-top: 20px;
}
.limitless-span {
  color: #00a2ff;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  gap: 35px;
  padding-top: 20px;
}
.section-1-div-1 {
  display: flex;
}
.unlimited {
  color: #00a2ff;
}

.section-1-div-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-1-div-2 p {
  width: 350px;
}

.learn-more-btn {
  border: none;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 13px 25px;
  font-weight: 900;
  width: fit-content;
}
.learn-more-btn:hover {
  color: white;
  border: solid;
  border-color: #0674b4;
  background-color: #0391e4;
  cursor: pointer;
}
.why {
  justify-content: center;
  display: flex;
  font-size: 21px;
  color: rgb(19, 19, 19);
  margin-top: 65px;
  margin-bottom: 0;
}

.stat-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 25px;
  margin-top: 0;
  gap: 120px;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 0;
}
.stat h2 {
  font-size: 50px;
  margin-bottom: 0;
}

.stat p {
  font-size: 16.5px;
}
.white-section {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 60px;
  border-radius: 10px;
  padding: 40px;
}
.white-section-1 {
  display: flex;
  flex-direction: column;
}
.white-section-1 h3 {
  margin-top: 0;
  padding-top: 0;
}
.white-section-1 p {
  margin-top: -5px;
}
.white-section-div {
  display: flex;
  align-items: center;
  gap: 70px;
}
.white-section-arrow-left i {
  font-size: 30px;
  color: #00a2ff;
}
.white-section-arrow-left i:hover {
  color: #010101;
  cursor: pointer;
}
.white-section-1 h3 {
  font-size: 35px;
}
.white-section-1 p {
  font-size: 20px;
  font-weight: 500;
  gap: 20px;
}
.white-section-1 p span {
  color: gray;
}
.white-section-div-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.white-section-1 button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 18px 30px;
  font-weight: 700;
  width: fit-content;
  font-size: 18px;
}
.white-section-1 button:hover {
  color: white;
  border: solid;
  border-color: #0674b4;
  background-color: #0391e4;
  cursor: pointer;
}

.white-section-arrow-right i {
  font-size: 30px;
  color: #00a2ff;
}
.white-section-arrow-right i:hover {
  color: #000000;
  cursor: pointer;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 25px;
}
.section-2-div-1 h2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.section-2-div-3 button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 13px;
  padding: 12px 20px;
  font-weight: 700;
  width: fit-content;
  font-size: 18px;
}
.section-2-div-3 button:hover {
  color: white;
  border: solid;
  border-color: #0674b4;
  background-color: #0391e4;
  cursor: pointer;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 70px;
}
.div-take-further {
  display: flex;
  justify-content: center;
  font-size: 25px;

  text-align: center;
  justify-items: center;
}
.div-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 35px;
  gap: 30px;
}
.div-feature {
  display: flex;
  justify-content: center;
}
.div-feature h4 {
  font-weight: 700;
  font-size: 19px;
  color: #00a2ff;
}
.div-feature h4 i {
  font-weight: 900;
  font-size: large;
}
.div-feature h4:hover {
  color: #000203;
  cursor: pointer;
}
.section-4 {
  background-color: white;
  width: 84%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 80px;
  padding: 40px 50px 50px 50px;
  border-radius: 10px;
}
.section-4-div-1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-4-div-1 h2 {
  font-size: 35px;
}
.section-4-div-2 {
  display: flex;
  justify-content: center;
}
.section-4-div-3 {
  display: flex;
  justify-content: center;
  font-size: small;
}
.section-4-div-2 input {
  padding: 18px;
  border-radius: 10px;
  border: solid rgb(209, 209, 204);
  width: 300px;
  font-size: 18px;
}

.section-4-div-2 button {
  padding: 20px;
}
.menu {
  display: none;
  font-size: 25px;
}
.menu:hover {
  cursor: pointer;
}
.start-free-btn {
  border: none;
  background-color: rgb(255, 226, 3);
  color: rgb(10, 10, 10);
  border-radius: 25px;
  padding: 4px 13px;
  font-weight: 700;
  width: fit-content;
  font-size: 18px;
  border: solid;
  border-color: rgb(232, 232, 194);
}
.start-free-btn:hover {
  color: white;
  border: solid;
  border-color: #0674b4;
  background-color: #0391e4;
  cursor: pointer;
}
.input-btn-div {
  display: flex;
  gap: 22px;
}
.section-5 li {
  list-style: none;
}
.section-5 {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 100px;
  margin-top: 0;
}
.side-by-side-div {
  display: flex;
  gap: 25px;

  font-size: 14px;
}
.side-by-side-div:hover {
  color: #00a2ff;
  cursor: pointer;
}
.side-by-side-div img {
  padding: 10px;
  border-radius: 20px;
}
.li-div {
  display: flex;
}
.list h4 {
  font-size: 17px;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 14px;
}
.list li:hover {
  color: #00a2ff;
  cursor: pointer;
}
.visit {
  color: #00a2ff;
  font-weight: bold;
}
.visit:hover {
  color: #0674b4;
  cursor: pointer;
}
.side-by-side h4 {
  font-size: 17px;
}

@media (max-width: 600px) {
  /* Navigation */
  .menu {
    display: block;
  }
  .array li {
    display: none;
  }
  .right-nav {
    display: none;
  }

  .limitless {
    width: 90%;
    text-align: center;
    padding: 10px;
  }

  .section-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  .section-1-div-2 p {
    width: 100%;
    text-align: center;
  }
  .section-1-div-2 {
    align-items: center;
  }

  .stat-container {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  .stat h2 {
    font-size: 35px;
  }

  .white-section {
    flex-direction: column;
    gap: 30px;
    margin: 20px;
    padding: 20px;
  }
  .white-section-div,
  .white-section-div-2 {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .div-row {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-4 {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
  }
  .input-btn-div {
    flex-direction: column;
    gap: 15px;
  }
  .section-4-div-2 input {
    width: 100%;
  }

  .section-5 {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .li-div {
    flex-direction: column;
    gap: 20px;
  }
  .side-by-side-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
