body {
  margin: 0;
  padding: 0;
  
  font-family: "Rubik";
  background-color: #f5f7fa;
}

:root {
  --primary-color: #00a2ff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f7fa;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.nav-spacer {height: 70px;}
.left-nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding-left: 20px;
}
.array li:hover {
  color: #00a2ff;
  cursor: pointer;
}

.right-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-right: 20px;
}

.login {
  background: none;
  border: none;
  font-family: "rubik";
  font-weight: 700;
}
.login:hover {
  color: #00a2ff;
  cursor: pointer;
}
.demo {
  background-color: #f5f7fa;
  border-color: #fc5b1a;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  
  font-weight: 900;
  color: #fc5b1a;
}
.demo:hover {
  background-color: #fc5b1a;
  color: #f5f7fa;
  cursor: pointer;
}

.sign-up {
  background-color: #00a2ff;
  border-color: #0391e4;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  
  font-weight: 900;
  color: #f5f7fa;
}

.sign-up:hover {
  color: #00a2ff;
  backdrop-filter: var(--primary-color);
  background-color: #f5f7fa;
  cursor: pointer;
}
.first-div {
  display: flex;
 
  justify-content: center;
}

.limitless {
   width: 50%;
padding-top: 20px;
}
.limitless-span {color: #00a2ff;}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  gap: 35px;
  padding-top: 20px;
}
.section-1-div-1 {
  display: flex;
  }
  .unlimited {
    color: #00a2ff;
    
  }
  
  
  .section-1-div-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
.section-1-div-2 p {
  width: 350px;
}
  
  .learn-more-btn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 13px 25px;
    font-weight: 900;
    width: fit-content;
  }
  .learn-more-btn:hover {color:white;
    border: solid;
  border-color: #0674b4;
  background-color:#0391e4;
  cursor: pointer;}
.why {
  justify-content: center;
  display: flex;
  font-size: 21px;
  color: rgb(19, 19, 19);
  margin-top: 65px;
  margin-bottom: 0;
}


.stat-container {
  display: flex;
  justify-content: center;
  gap: 60px;
 font-size: 25px; 
 margin-top: 0;
 gap: 120px
}
.stat {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 0;
}
.stat h2 {
  font-size: 50px;
  margin-bottom: 0;
}

  .stat p {
    font-size: 16.5px;
    
  }
  
      

