/* CSS uses selectors and declaration, selectors for html and declaration for building in css */
.logo {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #051904; /* Use your background color so content doesn't show through */
  padding: 0px 0px 2px 0;
  box-shadow: 0 2px 5px rgba(122, 14, 14, 0.1); /* Optional: adds a nice shadow when scrolling */
}

body {
  background: linear-gradient(
    rgb(11, 58, 11),
    rgb(128, 34, 34),
    rgb(42, 41, 41)
  );
  background-color: rgb(4, 1, 14);
  background-position-x: top;
  color: white;
  text-align: justify;
  margin-bottom: 0;
}
.tagline {
  margin-top: -70px;
  font-size: x-small;
  margin-left: 30px;
  font-family: cursive;
  color: rgb(198, 197, 197);
}

h3 {
  border-left: 10px;
  font-family: cursive;
}
.number {
  font-size: xx-large;
  font-family: sans-serif;
}
.words {
  font-family: fantasy;
}
.body {
  background: rgb(2, 11, 26);
  padding: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.body-2 {
  background-color: rgb(19, 126, 101);
  text-align: center;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
}
.number-2 {
  font-size: xx-large;
  font-family: sans-serif;
}
.body-2 {
  font-family: fantasy;
}
.backdrop {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  position: relative;
  display: inline-block;
  width: 100%;
}
.backdrop img {
  opacity: 0.4;
  width: 100%;
  height: auto;
  display: block;
}
.overlay {
  position: absolute;
  top: 50%; /* vertical position */
  left: 50%; /* horizontal position */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* makes text readable */
  background: rgba(0, 0, 0, 0.4); /* optional semi-transparent background */
  padding: 50px;
  border-radius: 5px;
}

.line-1,
.line-2,
.line-3 {
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em none;
  width: 0;
  opacity: 0; /* Keep hidden until start */
  /* Combine typing, showing the line, and blinking */
  animation:
    typing 2s steps(30, end) forwards,
    reveal 0.1s forwards,
    blink 0.75s step-end infinite;
}

/* Match delays to the duration of previous animations */
.line-1 {
  animation-delay: 0s, 0s, 0s;
  border-right-color: orange;
  opacity: 1;
}
.line-2 {
  animation-delay: 2s, 2s, 2s;
}
.line-3 {
  animation-delay: 4s, 4s, 4s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.grid {
  justify-content: right;
  display: flex;
}
